.form {
    display: flex;
    flex-direction: column;
    gap: $padding-small;
  
    input,
    textarea {
      padding: $padding-small;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    button {
      background-color: $primary-color;
      color: white;
      padding: $padding-small;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
  