// Couleurs
$primary-color: #e382d8;
$secondary-color: #333;
$background-color: #f4f4f4;
$text-color: black;

// Espacement
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

// Fonts
$font-family: 'Arial, sans-serif';
